<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="image">
      <img src="../assets/Слой_1.png" alt="" width="100px" height="69px">
    </div>
    <div class="welcom">
      <h2>Добро пожаловать</h2>
      <p>Авторизуйтесь пожалуйста</p>
    </div>
    <div class="form-group" [ngClass]="{'invalid': 
          form.get('username')?.invalid && (form.get('username')?.dirty ||
           form.get('username')?.touched), 'valid': form.get('username')?.valid}">
                 
      <label for="username">Логин*</label>
      <input type="text" id="username" name="username" formControlName="username" 
              placeholder="Mail@simmmple.com">
    </div>
    <div class="form-group" [ngClass]="{'invalid': 
          form.get('password')?.invalid && (form.get('password')?.dirty ||
           form.get('password')?.touched), 'valid': form.get('password')?.valid}">
           
      <label for="password">Пароль*</label>
      <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password"
                 formControlName="password" placeholder="Минимум 8 символов">
      <span id="togglePassword" (click)="togglePasswordVisibility()">
        <img src="../assets/eye.png" alt="eye">
      </span>
    </div>
    
    <div class="flex">
      <div class="form-group flex">
        <div>
          <input class="checkbox" type="checkbox" formControlName="rememberMe">
        </div>
        <div>
          <p>Запомнить</p>
        </div>
      </div>
      <div class="forgot-password">
        <a href="#">Забыли пароль?</a>
      </div>  
    </div>
    
    <button type="submit" [disabled]="form.invalid">Войти</button>
  </form>
</div>
