<div class="user-info">
    <div class="flex">
        <img [src]= "userData?.userInfo?.userAvatar" alt="User Avatar">
        <div class="userData">
            <h3> {{userData?.userInfo?.userName}}</h3>
            <p>ID пользователя: {{userData?.userInfo?.userId}}</p>
        </div>
    </div>
  
  <div class="message-input">
    <label for="message">Сообщение</label>
    <input type="text" id="message" [(ngModel)]="inputMessage">
  </div>
  
  <div class="action-buttons">
    <button class="button-fail" (click)="error()">Ошибка</button>
    <button class="button-warning" (click)="warning()">Предупреждение</button>
    <button class="button-success" (click)="success()">Успех</button>
    <button class="button-default" (click)="message()">Стандартная</button>
  </div>
</div>
