.custom-alert.show {
  position: fixed;
  top: 70px;
  right: 70px;
  width: 320px;
  border-radius: 5px;
  // transition: opacity 0.5s, transform 0.5s;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  overflow: hidden;
}

// .custom-alert.show {
//   opacity: 1;
//   transform: translateX(-50%) translateY(50px);
// }

.color {
  width: 5px;
}

.info {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.text {
  margin-left: 10px;
  color: #6F727A;
}

.custom-alert.warning {
  .icon {
    background-image: url('../../assets/union3.png');
  }
  .color {
    background-color: #FCCA00;
  }
}

.custom-alert.success {
  .color{
    background-color: #249F5D;
  }
  .icon {
    background-image: url('../../assets/union.png');
  }
}

.custom-alert.fail {
  .color{
    background-color: #FC5A5A;
  }
  .icon {
    background-image: url('../../assets/union2.png');
  }
}

.icon {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.close {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
}
